@font-face {
    font-family:'arzhu';
    src:url('/fonts/FZQiGXKJW.woff2'); /* 修改成你的字体 */
    font-display:swap
}
@font-face {
    font-family: firacode;
    src: url('/fonts/firacodem.woff2');
}
@font-face {
    font-family: fzfonts;
    src: url('/fonts/yuanhua.woff2');
}
h1#site-title {
    font-family:arzhu!important
}
h1.post-title {
    font-family:arzhu!important
}
span#subtitle {
    font-family:arzhu!important
}
a#site-name {
    font-family:arzhu!important
}
a.title {
    font-family:fzfonts!important;
    font-size: 16px;
    font-weight: bold;
}
div#post {
    font-family:fzfonts!important;
    font-size: 16px;
    font-weight: bold;
}
div.item-headline {
    font-family:fzfonts!important;
    font-size: 16px;
    font-weight: bold;
}
div.author-info__name {
    font-family:arzhu!important;
    font-size: 30px!important;
    font-weight: bold!important;
}
div.footer-wrap {
    font-family:fzfonts!important;
    font-size: 16px;
    font-weight: bold;
}
div#menus {
    font-family:fzfonts!important;
    font-size: 20px;
    font-weight: bold;
}
div#page {
    font-family:fzfonts!important;
    font-size: 16px;
    font-weight: bold;
}
div#archive {
    font-family:fzfonts!important;
    font-size: 16px;
    font-weight: bold;
}
div.recent-post-item {
    font-family:fzfonts!important;
    font-size: 16px;
    font-weight: bold;
}
div.content {
    font-family:fzfonts!important;
    font-size: 16px;
    font-weight: bold;
}
div.meta-firstline {
    font-family:arzhu!important
}
div.meta-secondline {
    font-family:arzhu!important
}
div#sidebar-menus.open {
    font-family:arzhu!important;
    font-size: 16px;
    font-weight: bold;
}
div#footer-wrap {
    font-family:arzhu!important;
    font-size: 16px;
    font-weight: bold;
}
div#post-meta {
    font-family:arzhu!important;
    font-size: 20px;
}
div.pagination {
    font-family:arzhu!important;
}
div.card-widget.card-info {
    font-family:fzfonts!important;
    font-size: 16px;
    font-weight: bold;
}
div.aside-list-item {
    font-family:fzfonts!important
}
div.card-widget.card-categories { /*侧边栏分类*/
    font-family:fzfonts!important;
    font-size: 16px;
    font-weight: bold;
}
div.card-tag-cloud {
    font-family:fzfonts!important;
    font-size: 16px;
    font-weight: bold;
}
div.webinfo-item {
    font-family:fzfonts!important;
    font-size: 16px;
    font-weight: bold;
}
span.line {
    font-family:firacode!important
}
ul.card-archive-list {
    font-family:fzfonts!important;
    font-size: 16px;
    font-weight: bold;
}
